<div>
  <h3>Add Phone Number</h3>
  <%= form_tag('/make_call', :method => :put) do %>
  	<%= text_field_tag :phone_number %><br/>
  	<!-- <%= submit_tag "Add Number", :class => "btn btn-primary" %> -->
    <%= submit_tag "Make Test Call", :controller => :make_calls, :action => :make_voice_call %>
  	<!-- <button class="btn"><%= link_to("Make test call", :controller => :make_calls, :action => :make_voice_call, :phone_number => params[:phone_number]) %></button> -->
  <% end %>
  </div>
      <%= form_for @user, :url => edit_user_registration_path(@user) do |f| %>
        <%= select_tag(:day, options_for_select([['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], [ 'Thursday', 4], ['Friday', 5]], 1)) %>
        <%= select_tag(:time, options_for_select([['6:00 AM', 1], ['6:30 AM', 2], ['7:00 AM', 3], [ '8:00 AM', 4], ['8:30 AM', 5], ['9:00 AM', 6]], 3)) %>
        <%= select_tag(:voice, options_for_select([['Peter', 1], ['Paul', 2], ['Mary', 3], [ 'Jane', 4], ['Alex', 5]], 4)) %>
        <%= f.submit 'Save preferences' %>
      <% end %>

    	<hr>
    

    	<!-- <div class="container">
        <table class="table">
          <thead>
            <tr>
              <td>Day</td>
              <td>Time</td>
              <td>Voice</td>
              <td>Sample</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Monday</td>
              <td>
                <div class="input-append bootstrap-timepicker">
                  <input id="timepicker1" type="text" value="7:00 AM" timepicker="timepicker" class="input-small">
                  <span class="add-on"><i class="icon-time"></i></span>
                </div>
              </td>
              <td>
                <select>
                  <option>Peter</option>
                  <option>Paul</option>
                  <option>Mary</option>
                  <option>Jane</option>
                  <option>Alex</option>
                </select>
              </td>
              <td><i class="icon-volume-up"></i></td>
            </tr>
            <tr>
              <td>Tuesday</td>
              <td>
                <div class="input-append bootstrap-timepicker">
                  <input id="timepicker1" type="text" value="7:00 AM" timepicker="timepicker" class="input-small">
                  <span class="add-on"><i class="icon-time"></i></span>
                </div>
              </td>
              <td>
                <select>
                  <option>Peter</option>
                  <option>Paul</option>
                  <option>Mary</option>
                  <option>Jane</option>
                  <option>Alex</option>
                </select>
              </td>
              <td><i class="icon-volume-up"></i></td>
            </tr>
            <tr>
              <td>Wednesday</td>
              <td>
                <div class="input-append bootstrap-timepicker">
                  <input id="timepicker1" type="text" value="7:00 AM" timepicker="timepicker" class="input-small">
                  <span class="add-on"><i class="icon-time"></i></span>
                </div>
              </td>
              <td>
                <select>
                  <option>Peter</option>
                  <option>Paul</option>
                  <option>Mary</option>
                  <option>Jane</option>
                  <option>Alex</option>
                </select>
              </td>
              <td><i class="icon-volume-up"></i></td>
            </tr>
            <tr>
              <td>Thursday</td>
              <td>
                <div class="input-append bootstrap-timepicker">
                  <input id="timepicker1" type="text" value="7:00 AM" timepicker="timepicker" class="input-small">
                  <span class="add-on"><i class="icon-time"></i></span>
                </div>
              </td>
              <td>
                <select>
                  <option>Peter</option>
                  <option>Paul</option>
                  <option>Mary</option>
                  <option>Jane</option>
                  <option>Alex</option>
                </select>
              </td>
              <td><i class="icon-volume-up"></i></td>
            </tr>
            <tr>
              <td>Friday</td>
              <td>
                <div class="input-append bootstrap-timepicker">
                  <input id="timepicker1" type="text" value="7:00 AM" timepicker="timepicker" class="input-small">
                  <span class="add-on"><i class="icon-time"></i></span>
                </div>
              </td>
              <td>
                <select>
                  <option>Peter</option>
                  <option>Paul</option>
                  <option>Mary</option>
                  <option>Jane</option>
                  <option>Alex</option>
                </select>
              </td>
              <td><i class="icon-volume-up"></i></td>
            </tr>
            <tr>
              <td>Saturday</td>
              <td>
                <div class="input-append bootstrap-timepicker">
                  <input id="timepicker1" type="text" value="7:00 AM" timepicker="timepicker" class="input-small">
                  <span class="add-on"><i class="icon-time"></i></span>
                </div>
              </td>
              <td>
                <select>
                  <option>Peter</option>
                  <option>Paul</option>
                  <option>Mary</option>
                  <option>Jane</option>
                  <option>Alex</option>
                </select>
              </td>
              <td><i class="icon-volume-up"></i></td>
            </tr>
            <tr>
              <td>Sunday</td>
              <td>
                <div class="input-append bootstrap-timepicker">
                  <input id="timepicker1" type="text" value="7:00 AM" timepicker="timepicker" class="input-small">
                  <span class="add-on"><i class="icon-time"></i></span>
                </div>
              </td>
              <td>
                <select>
                  <option>Peter</option>
                  <option>Paul</option>
                  <option>Mary</option>
                  <option>Jane</option>
                  <option>Alex</option>
                </select>
              </td>
              <td><i class="icon-volume-up"></i></td>
            </tr>
          </table>
          </div> -->