<p>
    <%- if user_signed_in? %>
      <ul>
      	<h3>We've connected your Google account and your primary calendar.</h3>
        <strong>All your events from your primary calendar</strong>
   		<div>
		  <h3>Add Phone Number</h3>
		  <%= form_tag('/make_call', :method => :put) do %>
		  	<%= text_field_tag :phone_number %><br/>
		  	<!-- <%= submit_tag "Add Number", :class => "btn btn-primary" %> -->
		    <%= submit_tag "Make Test Call", :controller => :make_calls, :action => :make_voice_call %>
		  	<!-- <button class="btn"><%= link_to("Make test call", :controller => :make_calls, :action => :make_voice_call, :phone_number => params[:phone_number]) %></button> -->
		  <% end %>
		</div>
		<h3>Setup your call preferences:</h3>
	      <%= form_for @user, :url => edit_user_registration_path(@user) do |f| %>
	      	<%= hidden_field_tag 'user_id', current_user.id %>
	        <%= select_tag('user[day]', options_for_select([['Monday', 'Monday'], ['Tuesday', 'Tuesday'], ['Wednesday', 'Wednesday'], [ 'Thursday', 'Thursday'], ['Friday', 'Friday']], 'Monday')) %>
	        <%= select_tag('user[time]', options_for_select([['6:00 AM', '6:00 AM'], ['6:30 AM', '6:30 AM'], ['7:00 AM', '7:00 AM'], [ '8:00 AM', '8:00 AM'], ['8:30 AM', '8:30 AM'], ['9:00 AM', '9:00 AM']], '7:00 AM')) %>
	        <%= select_tag('user[voice]', options_for_select([['Peter', 'Peter'], ['Paul', 'Paul'], ['Mary', 'Mary'], [ 'Jane', 'Jane'], ['Alex', 'Alex']], 'Peter')) %>
	        <%= f.submit 'Save preferences' %>
	      <% end %>

		   <hr>
		<h3>Your current settings</h3>
	    <div>
         <p>Phone Number: <%= current_user.phone_number unless current_user.phone_number.blank? %></p>
         <p>Preferred Day: <%= current_user.day unless current_user.day.blank? %></p>
         <p>Preferred Call Time: <%= current_user.time unless current_user.time.blank? %></p>
         <p>Preferred Caller: <%= current_user.voice unless current_user.voice.blank? %></p>     
	    </div>
      </ul>
    <% else %>
        <div id="myCarousel" class="slide" data-pause="remove">
	<div class="">
		<div class="item active">
			<div class="container">
				<div class="">
		  <div class="row">
			<div class="span6 pull-left">
			  <h1 style="color: rgb(90,90,90)">
				Wake up to a personalized daily alarm call.
			  </h1>
			  <p style="color: rgb(90,90,90)" class="lead">
				Customized wake-up calls from a real human using information from your daily calendar.
			  </p>
			  <em>Listen to a sample below!</em><hr />

			  <audio controls>
			  	<source src='http://peptalk-angelhackatx.s3.amazonaws.com/Memo.mp3' type='audio/mpeg'>Your browswer does not support the audio element
			  </audio>
			</div>
			<div class="span4 offset1 ">
			  <img style="width: 400px; min-width: 400px" src="<%=@root_url.to_s%>/images/PepTalk.jpg" />
			</div>
		  </div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container marketing">
	<hr class="featurette-divider">
	<h2 class="featurette-heading text-center">How it Works</h2>
	<div class="row">
		<div class="span4">
			<img class="img-circle" data-src="holder.js/140x140">
			<h2>
				Google Calendar
			</h2>
			<p>
		<img src="<%=@root_url.to_s%>/images/calendar.png">
	  </p>
	  <p>
				Give us a link to your Google Calendar.
	  </p>
		</div>
		<!-- /.span4 -->
		<div class="span4" style="margin-top: 80px;">
			<p style="font-size: 100px">
			→
				
			</p>
	  <p style="margin-top: 80px;">
	  </p>

		</div>
		<!-- /.span4 -->
		<div class="span4">
				<img class="img-circle" data-src="holder.js/140x140">
				<h2>
					Personal Calls
		  </h2>
				<p>
					<img src="<%=@root_url.to_s%>/images/phone.png">
		  		</p>
		  <p>Set up your calls with custom options.</p>
		</div>
	</div>
	<hr class="featurette-divider">
	<h2 class="featurette-heading text-center">Sign Up for a Seven Day Free Trial</h2>
	<div class="well">
		
		<h2 style="font-family: 'Helvetica', cursive; text-align: center;">
		  <%= link_to 'Sign Up Now with Google', signup_path, html_options = {:class => 'btn btn-large btn-primary'} %>
		</h2>
		
	</div>
  <hr class="featurette-divider">

    <% end %>
</p>

